.sidebox__box {
    position: fixed;
    top: 0;
    right: 0;
    width: 0vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 0.5s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: -4px 0px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 0px 40px -9px rgba(0,0,0,0.75);
    box-shadow: -4px 0px 40px -9px rgba(0,0,0,0.75);
}
.sidebox__buffer {
    position: absolute;
    left: 100%;
    visibility: hidden;
}

.sidebox__top,
.sidebox__bottom {
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.sidebox__bottom {
    top: auto;
    bottom: 0;
    justify-content: center;
}
.sidebox__top > div,
.sidebox__bottom > div {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    cursor: pointer;
}
.sidebox__content {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebox__content > * {
    max-width: 100%;
    flex-shrink: 1;
}
.sidebox__box.magnified .sidebox__content > * {
    max-width: none;
}
.sidebox__box .sidebox__count {
    font-size: 1.2em;
    width: auto;
    height: 2.5em;
    padding: 0 0.5em;
    white-space: nowrap;
}
.sidebox__close {
    background: transparent url(../img/sidebox/close.svg) center/1em auto no-repeat;
}
.sidebox__box .sidebox__magnify {
    background: transparent url(../img/sidebox/magnifying-glass.svg) center/1em auto no-repeat;
    display: none;
}
.sidebox__box.magnifiable .sidebox__magnify {
    display: block;
}
.sidebox__box .sidebox__prev {
    background: transparent url(../img/sidebox/left-chevron.svg) center/1em auto no-repeat;
    margin-right: auto;
    display: none;
}
.sidebox__box .sidebox__next {
    background: transparent url(../img/sidebox/right-chevron.svg) center/1em auto no-repeat;
    margin-left: auto;
    display: none;
}
.sidebox__box .sidebox__thumbs {
    background: transparent url(../img/sidebox/menu-grid.svg) center/1em auto no-repeat;
    display: none;
}
.sidebox__box.multiple .sidebox__prev,
.sidebox__box.multiple .sidebox__next,
.sidebox__box.multiple .sidebox__thumbs {
    display: block;
}

/* TODO: thumbs */
.sidebox__box.multiple .sidebox__thumbs {
    display: none;
}